@use "mixin" as *;

.home-hero {
  position: relative;
  z-index: 1;
  padding: rem(128) 0;
  background-image: url(/images/home/hero.png);
  background-position: center;
  background-size: cover;
  @media (max-width: rem(992)) {
    background-image: url(/images/home/heroMob.png);
  }
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      color: #ffffff;
      font-size: rem(72);
      font-weight: 700;
      line-height: 1.3;
      text-align: center;
      margin: 0 0 rem(16) 0;
      @media (max-width: rem(992)) {
        font-size: rem(36);
      }
    }
    h2 {
      color: #ffffff;
      font-size: rem(24);
      font-weight: 400;
      line-height: 1.2;
      text-align: center;
      margin: 0 0 rem(40) 0;
      @media (max-width: rem(992)) {
        font-size: rem(18);
      }
    }
    .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: rem(24);
      a,
      button {
        //width: rem(124);
        height: rem(40);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 rem(16);
        background: #f9fafb;
        border-radius: rem(4);
        font-size: rem(16);
        font-weight: 400;
        line-height: 1.2;
        text-align: left;
        gap: rem(4);
        color: #000;
        border: 1px solid #f9fafb;
        &:hover {
          background: transparent;
          color: #fff;
          svg {
            path {
              fill: #fff;
            }
          }
        }
      }
    }
  }
}

.home-what {
  position: relative;

  > img {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
    max-width: 60%;
  }
  &__body {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: rem(24);
    padding: rem(120) rem(80);
    border-left: 1px solid #475569;
    border-right: 1px solid #475569;
    @media (max-width: rem(992)) {
      flex-direction: column;
      padding: rem(100) rem(16);
    }
    h2 {
      background: linear-gradient(91.06deg, #636361 2.26%, #f9f9fa 60%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: rem(132);
      font-weight: 400;
      line-height: 1.2;
      text-align: left;
      width: 50%;
      @media (max-width: rem(992)) {
        font-size: rem(48);
        width: 100%;
        br {
          display: none;
        }
      }
    }
    .col {
      width: 50%;
      @media (max-width: rem(992)) {
        width: 100%;
      }
      h3 {
        color: #ffffff;
        font-size: rem(24);
        font-weight: 700;
        line-height: 1.2;
        text-align: left;
        margin-bottom: rem(8);
        @media (max-width: rem(992)) {
          font-size: rem(18);
        }
      }
      p {
        color: #ffffff;
        font-size: rem(18);
        font-weight: 400;
        line-height: 1.3;
        text-align: left;
        margin-bottom: rem(24);
        @media (max-width: rem(992)) {
          font-size: rem(14);
        }
      }
      a {
        height: rem(40);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 rem(16);
        background: transparent;
        border-radius: rem(4);
        font-size: rem(16);
        font-weight: 400;
        line-height: 1.2;
        text-align: left;
        gap: rem(4);
        color: #fff;
        border: 1px solid #fff;
        svg {
          path {
            fill: #fff;
          }
        }
        &:hover {
          background: #fff;
          color: #000;
          svg {
            path {
              fill: #000;
            }
          }
        }
      }
    }
  }
}

.home-benefits {
  position: relative;
  > img {
    position: absolute;
    z-index: 0;
    max-width: 60%;
    &:first-child {
      right: 0;
      top: -140px;
    }
    &:nth-child(2) {
      left: 0;
      bottom: -200px;
    }
  }
  &__body {
    padding: rem(80) 0;
    border-left: 1px solid #475569;
    border-right: 1px solid #475569;
    position: relative;
    z-index: 1;
    h2 {
      background: linear-gradient(91.06deg, #636361 2.26%, #f9f9fa 60%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: rem(72);
      font-weight: 500;
      line-height: 1.2;
      text-align: left;
      margin-bottom: rem(32);
      padding: 0 rem(16);
      @media (max-width: rem(992)) {
        font-size: rem(48);
        width: 100%;
        br {
          display: none;
        }
      }
    }
    .row {
      display: flex;
      align-items: flex-end;
      gap: rem(30);
      padding: rem(16);
      border-top: 1px solid #475569;
      border-bottom: 1px solid #475569;
      margin-bottom: rem(32);
      overflow: hidden;
      @media (max-width: rem(992)) {
        flex-direction: column;
        img {
          height: auto;
          width: 100%;
        }
      }
      .image-wrap {
        overflow: visible;
        height: rem(400);
        width: rem(770);
        display: flex;
        align-items: center;
        position: relative;
        @media (max-width: rem(992)) {
          height: auto;
          width: 100%;
          .image-wrap-inner {
            transform: unset !important;
          }
        }
        > div {
          //height: rem(1200);
        }
      }
      .col {
        width: calc(100% - rem(800));
        @media (max-width: rem(992)) {
          width: 100%;
        }
        h3 {
          color: #ffffff;
          font-size: rem(24);
          font-weight: 700;
          line-height: 1.2;
          text-align: left;
          margin-top: rem(12);
          margin-bottom: rem(8);
          @media (max-width: rem(992)) {
            font-size: rem(18);
          }
        }
        p {
          color: #ffffff;
          font-size: rem(18);
          font-weight: 400;
          line-height: 1.3;
          text-align: left;
          margin-bottom: rem(24);
          @media (max-width: rem(992)) {
            font-size: rem(14);
          }
        }
        span {
          color: #636361;
          font-size: rem(16);
          font-weight: 400;
          line-height: 1.3;
          text-align: left;
        }
      }
    }
  }
}

.home-how {
  &__body {
    padding: rem(80) 0;
    border-left: 1px solid #475569;
    border-right: 1px solid #475569;
    position: relative;
    z-index: 1;
    h2 {
      background: linear-gradient(91.06deg, #636361 2.26%, #f9f9fa 60%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: rem(72);
      font-weight: 500;
      line-height: 1.2;
      text-align: left;
      margin-bottom: rem(32);
      padding: 0 rem(16);
      @media (max-width: rem(992)) {
        font-size: rem(48);
        width: 100%;
        br {
          display: none;
        }
      }
    }
    .row {
      display: flex;
      @media (max-width: rem(992)) {
        flex-direction: column;
      }
      .col {
        width: 25%;
        @media (max-width: rem(992)) {
          width: 100%;
          padding: 0 !important;
        }
        &:nth-child(2) {
          padding-top: rem(20);
          span {
            background: #cbd5e1;
          }
        }
        &:nth-child(3) {
          padding-top: rem(40);
          span {
            background: #94a3b8;
          }
        }
        &:nth-child(4) {
          padding-top: rem(60);
          span {
            background: #64748b;
          }
        }
        span {
          width: 100%;
          height: 20px;
          background: #e2e8f0;
          display: block;
        }
        div {
          padding: rem(24) rem(16);
          h3 {
            color: #ffffff;
            font-size: rem(24);
            font-weight: 500;
            line-height: 1.2;
            text-align: left;
            margin-bottom: rem(8);
            @media (max-width: rem(992)) {
              font-size: rem(18);
            }
          }
          p {
            color: #ffffff;
            font-size: rem(18);
            font-weight: 400;
            line-height: 1.3;
            text-align: left;
            @media (max-width: rem(992)) {
              font-size: rem(18);
            }
          }
        }
      }
    }
  }
}

.home-privacy {
  &__body {
    padding: rem(160) 0;
    border-left: 1px solid #475569;
    border-right: 1px solid #475569;
    position: relative;
    z-index: 1;
    background-image: url(/images/home/security.png);
    background-position: center;
    background-repeat: no-repeat;
    @media (max-width: rem(992)) {
      padding: rem(80) rem(16);
      background-size: contain;
    }
    h2 {
      background: linear-gradient(91.06deg, #636361 2.26%, #f9f9fa 60%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: rem(72);
      font-weight: 500;
      line-height: 1.2;
      text-align: center;
      margin-bottom: rem(24);
      @media (max-width: rem(992)) {
        font-size: rem(48);
        width: 100%;
        br {
          display: none;
        }
      }
    }
    p {
      max-width: rem(670);
      margin: 0 auto rem(24) auto;
      color: #ffffff;
      font-size: rem(18);
      font-weight: 400;
      line-height: 1.3;
      text-align: center;
    }
    a {
      height: rem(40);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 rem(16);
      background: transparent;
      border-radius: rem(4);
      font-size: rem(16);
      font-weight: 400;
      line-height: 1.2;
      text-align: left;
      gap: rem(4);
      color: #fff;
      border: 1px solid #fff;
      width: 100%;
      max-width: rem(670);
      margin: 0 auto;
      svg {
        path {
          fill: #fff;
        }
      }
      &:hover {
        background: #fff;
        color: #000;
        svg {
          path {
            fill: #000;
          }
        }
      }
    }
  }
}
