@use "mixin" as *;

header {
  &:not(.active) {
    background: transparent;
  }
}

.work-at-airis-page {
  background-image: url("/images/work/gradient.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: rem(74);
  margin-top: -74px;
}

.work-hero {
  position: relative;
  z-index: 1;
  padding: rem(128) 0 0 0;
  @media (max-width: rem(992)) {
  }
  > img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -80px;
    z-index: 0;
    display: none;
  }
  &__image {
    margin-top: rem(40);
    position: relative;
    z-index: 1;
  }
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 1;
    > div {
      position: relative;
      z-index: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        position: absolute;
      }
      &:first-child {
        img {
          left: 0;
          bottom: 0;
        }
      }
      &:last-child {
        img {
          right: 0;
          bottom: 0;
        }
      }
      &:nth-child(2) {
        position: relative;
        z-index: 1;
      }
      @media (max-width: rem(992)) {
        &:first-child {
          img {
            width: rem(145);
            height: rem(125);
          }
        }
        &:last-child {
          img {
            width: rem(145);
            height: rem(125);
          }
        }
      }
    }
    h1 {
      color: #ffffff;
      font-size: rem(72);
      font-weight: 700;
      line-height: 1.3;
      text-align: center;
      margin: 0 0 rem(16) 0;
      @media (max-width: rem(992)) {
        font-size: rem(36);
      }
    }
    h2 {
      color: #ffffff;
      font-size: rem(24);
      font-weight: 400;
      line-height: 1.2;
      text-align: center;
      @media (max-width: rem(992)) {
        font-size: rem(18);
      }
    }
  }
}

.work-loop {
  position: relative;
  > img {
    position: absolute;
    z-index: 0;
    max-width: 60%;
    &:first-child {
      right: 0;
      top: 400px;
    }
    &:nth-child(2) {
      left: 0;
      top: -200px;
    }
  }
  &__body {
    border-left: 1px solid #475569;
    border-right: 1px solid #475569;
    position: relative;
    z-index: 1;
    h3 {
      background: linear-gradient(91.06deg, #636361 2.26%, #f9f9fa 60%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: rem(36);
      font-weight: 500;
      line-height: 1.2;
      text-align: left;
      padding: rem(64) rem(80);
      @media (max-width: rem(992)) {
        font-size: rem(24);
        padding: rem(64) rem(16);
        width: 100%;
        br {
          display: none;
        }
      }
    }
    .wrap {
      .item {
        padding: rem(150) rem(80);
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        gap: rem(24);
        @media (max-width: rem(992)) {
          flex-direction: column;
          padding: rem(100) rem(16);
        }
        h2 {
          background: linear-gradient(91.06deg, #636361 2.26%, #f9f9fa 60%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: rem(96);
          font-weight: 400;
          line-height: 1.2;
          text-align: left;
          width: 50%;
          @media (max-width: rem(992)) {
            font-size: rem(48);
            width: 100%;
            br {
              display: none;
            }
          }
        }
        .col {
          width: 50%;
          @media (max-width: rem(992)) {
            width: 100%;
          }
          p {
            color: #ffffff;
            font-size: rem(18);
            font-weight: 400;
            line-height: 1.3;
            text-align: left;
            margin-bottom: rem(24);
            @media (max-width: rem(992)) {
              font-size: rem(14);
            }
          }
          a,
          button {
            height: rem(40);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 rem(16);
            background: transparent;
            border-radius: rem(4);
            font-size: rem(16);
            font-weight: 400;
            line-height: 1.2;
            text-align: left;
            gap: rem(4);
            color: #fff;
            border: 1px solid #fff;
            &:hover {
              background: #fff;
              color: #000;
              svg {
                path {
                  fill: #000;
                }
              }
            }
            svg {
              path {
                fill: #fff;
              }
            }
          }
        }
      }
    }
  }
}

.work-cta {
  position: relative;
  > img {
    position: absolute;
    z-index: 0;
    max-width: 60%;
    &:first-child {
      left: 0;
      top: -400px;
    }
  }
  &__body {
    padding: rem(160) 0;
    border-left: 1px solid #475569;
    border-right: 1px solid #475569;
    position: relative;
    z-index: 1;
    background-image: url(/images/work/cta.png);
    background-position: center;
    background-repeat: no-repeat;
    @media (max-width: rem(992)) {
      padding: rem(80) rem(16);
      background-size: contain;
    }
    h2 {
      background: linear-gradient(91.06deg, #636361 2.26%, #f9f9fa 60%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: rem(72);
      font-weight: 500;
      line-height: 1.2;
      text-align: center;
      margin-bottom: rem(24);
      @media (max-width: rem(992)) {
        font-size: rem(48);
        width: 100%;
        br {
          display: none;
        }
      }
    }
    p {
      max-width: rem(670);
      margin: 0 auto rem(24) auto;
      color: #ffffff;
      font-size: rem(18);
      font-weight: 400;
      line-height: 1.3;
      text-align: center;
    }
    a {
      height: rem(40);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 rem(16);
      background: transparent;
      border-radius: rem(4);
      font-size: rem(16);
      font-weight: 400;
      line-height: 1.2;
      text-align: left;
      gap: rem(4);
      color: #fff;
      border: 1px solid #fff;
      width: 100%;
      max-width: rem(670);
      margin: 0 auto;
      svg {
        path {
          fill: #fff;
        }
      }
    }
  }
}
